Activity Time Breakdown.docx
Syllabus for the Reproducible Programming in R_Python course.docx
example_code/
results/
.DS_Store
*.Rhistory
*.RData
__pycache__/
demo-renv/
demo-uv/
demo-conda/
.Rproj.user
